.header {
  text-align: right;
  padding: 15px;
  background-color: rgb(255,255,255);
  border-bottom: 1px solid rgba(197,197,197,0.5);
  .header_currenc-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .currenc-wrap {
      text-align: center;

      .currency_title {
        margin: 0;
        padding-bottom: 10px;
      }
    }
  }
}
