.result {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-direction: column;
  width: 600px;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fcfcfc;
  box-shadow: 0 3px 5px 0#61dafb;
  z-index: 1;
  animation-name: show;
  animation-duration: 1.5s;
}
@keyframes show {
  from{opacity: 0;visibility: hidden}
  to{opacity: 1;visibility: visible}
}
.wrapper-result {
  position: relative;
  width: fit-content;
  margin: 150px auto 50px auto;

  &:after {
    top: -40px;
    right: 7px;
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #fcfcfc;
    box-shadow: 0 3px 5px 0#61dafb;
    opacity: 0.7;
  }
  &:before {
    top: -31px;
    right: 13px;
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #fcfcfc;
    box-shadow: 0 3px 5px 0#61dafb;
    opacity: 0.5;

  }
}
.btn {
  width: 120px;
  text-transform: uppercase;
  height: 40px;
  font-size: 18px;
  box-shadow: 2px 4px 0 black;
  color: #fff;
  border: none;
  background-color: #58dffd;
  opacity: .8;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in .2s;

  &:hover {
    opacity: 1;
    font-weight: 700;
    transform: translate(2px,5px);
    box-shadow: 0 0 0 transparent;
  }
}
.res_image {
  margin: 0 auto;
}
.res_pos {
  color: green;
}
.res_neg {
  color: red;
}
