.result {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-direction: column;
  width: 600px;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fcfcfc;
  box-shadow: 0 3px 5px 0#61dafb;
  z-index: 1;
  animation-name: show;
  animation-duration: 1.5s;
}
@keyframes show {
  from{opacity: 0;visibility: hidden}
  to{opacity: 1;visibility: visible}
}
.wrapper-result {
  position: relative;
  width: fit-content;
  margin: 150px auto;

  &:after {
    top: -25px;
    right: 10px;
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #fcfcfc;
    box-shadow: 0 3px 5px 0#61dafb;
    opacity: 0.7;
  }
  &:before {
    top: -5px;
    right: 18px;
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #fcfcfc;
    box-shadow: 0 3px 5px 0#61dafb;
    opacity: 0.5;

  }
}
.res_image {
  margin: 0 auto;
}
.res_pos {
  color: green;
}
.res_neg {
  color: red;
}
