.input-wrap {
  height: 50px;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 132px;
    height: 30px;
    width: 1px;
    background-color: grey;
  }

  &:hover {
    box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
  .currency-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    option {
      padding: 10px;
    }
  }

  .currency-select::-ms-expand {
    display: none;
  }

  .currency-inp, .currency-select {
    border: none;
    outline: none;
    padding: 10px;
    height: 100%;
  }

}
