.wrapp {
  position: relative;
  display: grid;
  align-items: center;
  padding: 2px;
  width: 80%;
  height: 25px;
  background-color: #c0e9eb7d;
  border-radius: 12px;
  margin: 0 auto;

}

.inner {
  width: 0;
  height: 100%;
  background-color: #66a8e1f2;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
  transition: width ease-out .5s;
}
.finished {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}

.counter {
  margin: 0;
  color: #1f0ad1;
  position: absolute;
  justify-self: center;
}
